{% extends 'base.html' %}

{% block content %}
<h3 class="mb-4">Add Product</h3>
<form method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-6">{{ form.PRODNAME.label_tag }} {{ form.PRODNAME }}</div>
        <div class="col-md-6">{{ form.PRODCODE.label_tag }} {{ form.PRODCODE }}</div>
        <div class="col-md-6">{{ form.PRODPRI.label_tag }} {{ form.PRODPRI }}</div>
        <div class="col-md-6">{{ form.PRODTAXPRE.label_tag }} {{ form.PRODTAXPRE }}</div>
        <div class="col-md-6">{{ form.PROAVASTOCK.label_tag }} {{ form.PROAVASTOCK }}</div>
        <div class="col-md-6">{{ form.DISPSTATUS.label_tag }} {{ form.DISPSTATUS }}</div>
    </div>
    <button type="submit" class="btn btn-success btn-sm mt-4">Save</button>
    <a href="{% url 'product_index' %}" class="btn btn-secondary btn-sm mt-4">Cancel</a>
</form>
{% endblock %}
